.menu-item:nth-child(3) {
    font-weight: bold;
}

body {
    background-color: lightgoldenrodyellow;
}

.sviProizvodi {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px 300px; 
    margin: 2em;
    gap: 2%;
    justify-content: space-around;
}

.sviProizvodi .proizvod:nth-child(odd) {
 background-color: rgb(80, 31, 80);
 color: wheat;
}

.sviProizvodi .proizvod:nth-child(even) {
    background-color: wheat;
    color: rgba(80, 10, 80);
}

.proizvod{
        text-align: center;
        margin: 1em;
        padding: 1em;
}

figcaption {
    text-align: center;
    margin: 8px;
    padding: 8px;
}

.proizvod:hover{
    scale: 1.3;
    cursor: pointer;
}

.container {
  
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

@media (400px < width <1200px) {
    .sviProizvodi {
        grid-template-columns: auto;
        grid-template-rows: repeat (9, 300px);
        gap: 0%;}
}

